.carte-boxe{
  /* height: 380px; */
  margin: 24px;
  /* background-color: azure; */
}

.carte-image{
  height: 224px;
  border-radius: 32px;
  background-color: rgb(209, 209, 209);
}



.carte-body{
  display: flex;
  gap: 6px;
  margin: 12px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



.carte-body-text{
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 12px;
}

.carte-title{
  font: 2em sans-serif;
  font-weight: bold;
  color: rgba(89, 89, 89, 1);
}

.carte-intertitle{
  font: 1em sans-serif;
  color:rgba(110, 110, 110, 1);
}


.carte-subtitle{
  color: rgba(250, 162, 30, 1);
  font: 1em sans-serif;
  /* font-weight: bold; */
}

.carte-resume{
  margin: 48px 12px;
}

.carte-resume-text{
  line-height: 28px;
  letter-spacing: 1px;
  color: #6E6E6E;
}

.carte-btn-boxe {
  display: flex;
  flex-direction: row;
  margin: 24px 12px;

}

.carte-btn{
  background-color: #fff;
  border: none;
  padding: 12px 32px;
  border-radius: 32px;
  font-weight: bold;
  color: rgba(89, 89, 89, 1);
  cursor: pointer;
  margin: 0 6px;
}



.carte-btn-action{
  background-color: #FAA21E;
  color: #fff;
}

.carte-btn-segment{
  background-color: rgba(89, 89, 89, 1);
  color: #fff;
}

.carte-page {
  flex: 1;
}

.carte-num-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 64px;
}

.carte-page-num{
  font-size: 24px;
  font-weight: bold;
  color: rgba(89, 89, 89, 1);
}

.carte-page-num-title{
  color: #FAA21E;
}
