<div class="carte-boxe">
  <div class="carte-body">
    <div class="carte-body-text">
      <div class="carte-title">{{livree?.title}}</div>
      <div class="carte-subtitle">{{chapitreName}}</div>
    </div>
    <div>
      <button class="carte-btn" (click)="deletePage(livree?.id)">Supprimer</button>
      <button class="carte-btn carte-btn-segment"
        (click)="editPage(livree?.chapters[currentChapitre-1]?.pages[currentPage-1]?.id,livree?.id)">Modifier</button>
      <button class="carte-btn carte-btn-action"
        (click)="ajoutePage(livree?.id, livree?.chapters[currentChapitre-1]?.id)">Ajouter</button>
    </div>
  </div>

  <div class="carte-resume">
    <p class="carte-resume-text">
      {{currentContent}}
    </p>
  </div>

  <div class="carte-btn-boxe">

    <div class="carte-page">
      <div class="carte-num-box">
        <div class="carte-page-num">{{totalPages}}</div>
        <div class="carte-page-num-title">Pages</div>
      </div>
    </div>

    <div>
      <button class="carte-btn" (click)="goToPreviousPage()">Précédent</button>
      <button class="carte-btn carte-btn-action" (click)="goToNextPage(currentChapitre, currentPage)">Suivant</button>
    </div>

  </div>

</div>