.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}



.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;



  flex: 2;
  margin: 24px;
}

.container-grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;


  flex: 2;
  margin: 24px;
}

.container-flex {
  display: flex;
  flex-direction: row;
}

.container-resume{
  flex: 2;
  position: relative;
}

.container-fix{
  flex: 2;
  position: fixed;
}


.container-addlivre {
  /* height: 200px; */
  background-color: antiquewhite;
  padding: 24px;
  margin: 24px;
  border-radius: 32px;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 24px;
}

.addlivreBtn{
  border: none;
  width: 100px;
  height: 100px;
  border-radius: 32px;
  font-size: 63px;
  background: #fff;
}

.container-body{
  flex: 1;
}

.addlivreText {
  margin: 0px;
}

.addlivreTitle{
  font-weight: bold;
}
