/* Réinitialisation des styles de la liste */
ul {
  list-style-type: none; /* Supprime les puces */
  padding: 0; /* Supprime le padding par défaut */
  margin: 0; /* Supprime la marge par défaut */
  color: #595959;
}

/* Style des éléments de la liste */
li {
  margin-bottom: 42px;
  font-weight: bold;
  cursor: pointer; /* Rend les éléments de la liste cliquables */
  /* Ajoutez ici vos propres styles si nécessaire */
}

/* Style de l'élément de liste sélectionné */
.chapitre-selectionne {
  color: #FAA21E; /* Change la couleur de fond de l'élément sélectionné */
}
