<div class="carte-boxe">
  <div class="carte-body">
    <div class="carte-title">{{livreNom}}</div>
    <div class="carte-subtitle">{{livreAuteur}}</div>
  </div>
  <div>
    <img class="carte-image" src="{{livreImage}}" alt="" />
  </div>

  <div class="carte-btn-boxe">
    <button class="carte-btn" (click)="goTo()">Lire</button>
  </div>

  <div class="carte-resume">
      <p class="carte-resume-text">Les Rêves d'Éther" transporte les lecteurs dans un univers où l'amour prend vie à travers l'imagination débordante d'Emma. Enracinée dans la passion pour la littérature fantastique, Emma découvre un portail mystérieux qui la catapulte dans des histoires d'amour épiques, toutes nées de son esprit créatif. Ces romances fictives prennent vie de manière saisissante, emplissant sa réalité de couleurs et d'émotions inattendues. Les amours imaginaires deviennent le reflet de ses désirs les plus profonds, défiant les limites de la fiction et du réel.
        <br/>
        <br/>
        Cependant, à mesure qu'Emma s'immerge dans ces contes enchantés, les frontières entre sa vie quotidienne et son monde imaginaire commencent à s'estomper. Elle se trouve confrontée à des choix difficiles entre l'amour idéalisé de ses rêves et les défis de la réalité. Les personnages imaginaires prennent vie avec une telle intensité qu'ils influencent ses décisions, ses relations et même sa perception de soi. La frontière entre la passion romanesque et le pragmatisme de la vie réelle se trouble, laissant Emma dans une quête pour comprendre la véritable nature de l'amour et de l'imagination.
        <br/>
        <br/>
        Dans "Les Rêves d'Éther", l'auteur explore la dualité complexe de l'amour imaginaire. Emma doit naviguer entre les émotions intenses émanant de ses aventures imaginaires et les défis concrets de son existence quotidienne. Le livre dépeint de manière captivante la façon dont l'imagination peut devenir une force puissante, capable de transformer la réalité et de redéfinir la compréhension traditionnelle de l'amour.
        À travers cette histoire captivante, "Les Rêves d'Éther" invite les lecteurs à réfléchir sur la nature même de l'amour, à explorer les limites de l'imagination et à se perdre dans les méandres envoûtants d'une romance qui transcende les frontières entre le rêve et la réalité.
        <br/>
        <br/>
      </p>
  </div>
</div>
