<div class="container-flex">
  <div [ngClass]="{'container-grid-2': carteLivreClique, 'container-grid': !carteLivreClique}">
    <div class="col-2" *ngFor="let livre of livresStore">
      <app-carte-livre [livre]="livre" (click)="onCarteLivreClick(livre)"></app-carte-livre>
    </div>
    <div class="col-2" *ngFor="let livre of livresStore">
      <app-carte-livre [livre]="livre" (click)="onCarteLivreClick(livre)"></app-carte-livre>
    </div>
  </div>
  <div class="container-resume" *ngIf="carteLivreClique">
    <app-carte-resume [livre]="livreClicked" class="bottom-sticky"></app-carte-resume>
  </div>
</div>